statemachines/create.yaml
StartAt: Initialise
States:
  Initialise:
    Type: Pass
    OutputPath: $
    Parameters: 
      Splitter: "-"
      Attempts: 0
    Next: Create hash
  Create hash:
    Type: Pass
    OutputPath: $
    Parameters:
      Hash.$: States.ArrayGetItem(States.StringSplit(States.UUID(), $.Splitter), 1)
      Attempts.$: States.MathAdd($.Attempts, 1)
    Next: Store URL
  Store URL:
    Type: Task
    Resource: arn:aws:states:::aws-sdk:dynamodb:putItem
    ResultPath: null
    Parameters:
      TableName: ${UrlTable}
      ConditionExpression: attribute_not_exists(Id)
      Item:
        Id:
          S.$: $.Hash
        Url:
          S.$: $$.Execution.Input.Url
        HitCount: 
          N: "0"
    Catch:
      - ErrorEquals: 
          - DynamoDb.ConditionalCheckFailedException
        Next: Continue trying?
        ResultPath: null
    End: true
  Continue trying?:
    Type: Choice
    Choices:
      - Variable: $.Attempts
        NumericLessThan: 10
        Next: Create hash
    Default: Fail
  Fail:
    Type: Fail